/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

article > a {
    /* display: block;
    width: 100%;
    height: 100%; */
    text-decoration: none;
    color: #000;
}

.card img {
    object-fit: cover;
    width: 100%;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Top navigation ***********/

header {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .logo {
   height: 20px; 
} 

.top-nav {
    height: 100%;
}

.top-nav-items {
    display: flex;
    list-style: none;
}

.top-nav-entry {
    height: 100%;
    padding-left: 68px;
}

.top-nav-entry a {
    display: inline-block;
    text-decoration-line: none;
    font-size: 16px;
    padding-top: 16px;
    color: #000;
    border-top: 2px solid white;
}

.top-nav-entry a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

/****** Search ***********/

.search-block {
    margin-top: 32px;
}

.search-block h2 {
    margin-bottom: 8px;
}

.search-block form {
    margin: 32px 0px;
    display: flex;
}

#form-gps-geolocation {
    height: 48px;
    width: 48px;
    background-color: var(--main-bg-color);
    border: none;
    border-radius: 15px 0px 0px 15px;
}

#form-gps-geolocation i {
    color: #000;
    font-size: 18px;
}

#form-input-geolocation {
    height: 48px;
    padding: 0 16px;
    border-top: 1px solid var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-right: none;
    font-weight: 700;
    font-size: 18px;
}

#form-input-geolocation::placeholder {
    color: #000;
}

#form-submit-geolocation {
    height: 48px;
    background-color: var(--main-color);
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    padding: 0 16px;
    border: none;
    border-radius: 0px 15px 15px 0px;
}

#form-submit-geolocation i {
    display: none;
}

/****** Filters ***********/

.filters-block form {
    margin-bottom: 32px;
}

.filters-block fieldset {
    border: none;
    display: flex;
    align-items: center;
    padding-left: 0;
}

.filters-title {
    float: left;
    font-size: 18px;
    font-weight: 700;
}

.filter-button {
    display: flex;
    align-items: center;
    height: 48px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    margin-left: 16px;
    background-color: #fff;
}

.filter-button:hover {
    background-color: var(--filter-bg-color);
}

.filter-button-icon {
    font-size: 22px;
    margin-left: 18px 
}

.filter-button-text {
    font-size: 17px;
    font-weight: 700;
    margin: 16px 18px 16px 8px;
}

.info-results-number {
    display: flex;
    align-items: center;
}

.info-results-number i {
    height: 24px;
    width: 24px;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid #d9d9d9;
}

.info-results-number p {
    margin-left: 8px;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
}

/* .hebergements-and-populaires section {
    Ici j'ai changé les sélecteurs car je n'arrivais plus à reprendre la main pour les background via media query sur le mobile*/
.hebergements, .populaires {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    /* box-sizing: border-box; */
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
}

.hebergements-cards {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.hebergements-cards img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 124px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    margin-top: 8px;
    margin-bottom: 15px;
}

.hebergements-cards .card-subtitle {
    margin: 8px 0px;
}

.see-more-button {
    border: none;
    font-size: 18px;
    font-weight: 700;
    background-color: transparent;
}

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    margin-top: 33px;
}

.populaires-cards a {
    display: flex;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.activites {
    padding: 30px;
}

.activites-cards {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.activites-cards .card {
    width: 23%;
    padding: 0;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
}

.activites-cards .card-content {
    padding: 0 20px;
}

.activites-cards .card-title {
    margin: 20px 0;
}

/****** Footer ***********/

footer {
    background-color: var(--main-bg-color);
    margin-top: 35px;
}

.footer-nav {
    display: flex;
}

.footer-column {
    padding: 20px;
    width: 33%;
}

.footer-column h2 {
    font-size: 18px;
}

.footer-column ul {
    padding: 0;
}

.footer-column a {
    text-decoration: none;
    color: #000;
}

.footer-column li {
    font-size: 16px;
    list-style: none;
    padding-top: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
    .filters-title {
        float: none;
        margin-bottom: 8px;
    }

    .filter-button {
        margin-left: 0;
        margin-right: 12px;
    }

    .filter-button-icon {
        font-size: 20px;
        margin-left: 10px;
    }
    
    .filter-button-text {
        font-size: 15px;
        margin-right: 10px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }

    /****** Header ***********/

    header {
        flex-direction: column;
    }

    header .logo {
        margin: 30px 0;
    } 
     
    .top-nav {
        width: 100%;
    }

    .top-nav-items {
        padding-inline-start: 0;
        /* Modifier cette propriété à ce stade me semble bizarre, peut-être devrais-je le gérer déjà en desktop ? */
    }
     
    .top-nav-entry {
        padding-left: 0;
        width: 50%;
    }
     
    .top-nav-entry a {
        text-align: center;
        width: 100%;
        padding-top: 0;
        padding-bottom: 16px;
        border-top: none;
        border-bottom: 2px solid white;
    }
    
    .top-nav-entry a:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }

    /****** Main ***********/

    main {
        margin-top: 80px;
        /* Ici j'ai été obligé de rajouter cette marge, mais quelque chose m'échappe car il y a déjà une margin-top sur la section, qui n'a pas l'air d'être prise en compte. */
    }

    section, .filters-block {
        padding: 0 20px;
    }

    .search-block form {
        justify-content: space-between;
    }

    #form-input-geolocation {
        flex-grow: 1;
        /* Je n'arrive pas à trouver comment étendre la border sur la droite pour apparaître sous le radius corner de l'icone loupe */
    }

    #form-submit-geolocation {
        border-radius: 15px;
    }

    #form-submit-geolocation span {
        display: none;
    }
    
    #form-submit-geolocation i {
        display: inline;
        color: #fff;
    }

    .filters-block fieldset {
        flex-wrap: wrap;
    }

    .filters-line-break {
        /* Ça me semble vraiment pas très élégant comme manière d'aligner les filtres 2 par 2, mais avec des largeurs fixes j'ai du mal à comprendre comment bien gérer le mobile */
        width: 100%;
        height: 16px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .populaires {
        margin-top: 0;
        border-radius: 0;
        padding: 30px 20px;
    }

    .hebergements {
        margin-top: 16px;
        background-color: #fff;
        padding: 20px 20px;
    }

    .activites {
        padding: 20px 30px;
    }

    .populaires-cards, .hebergements-cards, .activites-cards {
        flex-direction: column;
        gap: 16px;
        margin-top: 16px;
    }

    .activites-cards {
        margin-top: 32px;
    }

    .populaires-cards .card, .hebergements-cards .card, .activites-cards .card {
        width: 100%;
        margin: 0;
    }

    .see-more-button {
        align-self: baseline;
    }

    /****** Footer ***********/

    .footer-nav {
        flex-direction: column;
        padding: 0 30px;
    }

    .footer-column {
        width: 100%;
        padding: 30px 0;
    }
}